<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Web Page</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        iframe {
            width: 100%;
            height: 100vh;
            border: 0;
        }
    </style>
</head>

<body>

    <!-- 使用 iframe 嵌套显示另一个网页 -->
    <iframe src="/book/pdfjs/web/viewer.html?file=/book/assets/documentResource/二排历史-第一册.pdf"></iframe>

</body>

</html>