@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+SC:wght@400&family=Oswald&family=Teko:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

#contentdiv {
  width: 100%;
  height: 100%;
}

#startdiv {
  width: 100%;
  height: 100vh;
  background: url("/game/ZhangHitPlane/image/startScreen.png") center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

button {
  outline: none;
}

#startdiv button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
}

#maindiv {
  width: 100%;
  height: 100%;
  background: url(../image/background_1.png) center no-repeat;
  background-size: cover;
  display: none;
}

#maindiv img {
  position: absolute;
  z-index: 1;
}

#scorediv {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 100;
}

#scorediv {
  font-size: 18px;
  font-weight: bold;
}

#suspenddiv {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  z-index: 2;
  transform: translate(-50%, -50%);
  align-items: center;
}

#suspenddiv button {
  width: 150px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #20c997;
  border-color: #20c997;
  font-size: 20px;
  font-family: "Noto Sans SC";
  display: block;
}

#enddiv {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  background-color: #d7ddde;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

@font-face {
  font-family: "BianTaoTi";
  src: url("/resources/font/ALi/AlimamaShuHeiTi/AlimamaShuHeiTi-Bold.woff2");
}

.plantext {
  width: 160px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
}

#planscore {
  width: 160px;
  height: 80px;
  line-height: 80px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: 40px;
  font-family: BianTaoTi;
  color: #f5222d;
}

#enddiv div {
  width: 160px;
  height: 50px;
}

#enddiv div button {
  margin-top: -7px;
}

.shiLinTiShi {
  padding-left: 2em;
}

.CADPA {
  margin: 5px;
  display: inline-block;
  height: 75px;
}

.CADPA-a {
  vertical-align: middle;
  display: inline-block;
}

@font-face {
  font-family: "WenYiTi";
  src: url("/resources/font/ZCool/WenYiTi.ttf");
}

.mainTitle {
  font-family: WenYiTi;
  color: #0d6efd;
}
