@import url('https://fonts.font.im/css2?family=Agdasima:wght@700&display=swap');

html {
    height: 100px;
}

body {
    margin: 0;
    height: 100px;
    background-image: url('/game/hitMouse/image/bg1.jpg');
}

#box {
    border-collapse: collapse;
    margin: 20px auto;
}

#box td {
    width: 100px;
    height: 100px;
    background-image: url('/game/hitMouse/image/hole.png');
    background-size: 100px 30px;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
}

.mouse {
    width: 98px;
    height: auto;
    transition: all 0.5s;
    transform-origin: 50% 100%;
}

.mouse-down {
    transform: scale(1, 0);
}

.hammer-down {
    cursor: url(image/);
}

@font-face {
    font-family: 'AlimamaShuHeiTi';
    src: url('/resources/font/ALi/AlimamaShuHeiTi/AlimamaShuHeiTi-Bold.woff2');
}

.score {
    font-family: AlimamaShuHeiTi;
    font-weight: 700;
    font-size: 8vw;
    color: #0958d9;
    margin: 5px;
}

.score-number {
    font-family: 'Agdasima';
    color: #fa541c;
    margin: 5px;
    font-size: 8vw;
}

.CADPA {
    margin: 5px;
    display: inline-block;
    height: 60px;
}

.CADPA-a {
    /* vertical-align: middle; */
    display: inline-block;
}

.hide {
    display: none !important;
}

p {
    margin: 5px;
}

.timedown {
    font-style: normal;
}